<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Deer</title>
  </head>
  <body>
    <div class="new">
      <h1>Add Reindeer</h1>
      <div id="new-deer">
        <form action="/shop" method="POST" id="form">
          Name: <input type="text" name="name"/><br/>
          Description: <input type="text" name="descr"/><br/>
          Picture: <input type="link" name="img"/><br/>
          Price: <input type="number" name="price"/><br/>
          Quantity: <input type="number" name="qty"/><br/>
          <input type="submit" name="new-submit" value="add to stock"/>
        </form>
        </div>
        <a href="/shop"><button type="button" name="back" id="back-btn">BACK</button></a>
    </div>
  </body>
</html>
